<p id="notice"><%= notice %></p>

<div class="heading_one">Listing Todo Lists</div>
<br>

<div class="table">
 <div class="create"> <%= link_to 'New Todo list', new_todo_list_path %></div>
 <br><br><br><br><br><br>
 <div class="table_info">
  <% @todo_lists.each do |todo_list| %>
  <div class="tables_splitter">
    <div class="user_input">

        <div class="task_title">
          <p><%= todo_list.title %></p>
        </div>

        <div class="task_description">
          <p><%= todo_list.description %></p>
        </div> 

    </div>
    
        <div class="options">
          <p><%= link_to 'Show', todo_list %></p>
          <p><%= link_to 'Edit', edit_todo_list_path(todo_list) %></p>
          <p><%= link_to 'Destroy', todo_list, method: :delete, data: { confirm: 'Are you sure?' }  %></p>
        </div>

    <br>
  </div>

  <% end %>
</div>

</div>
<div class="completed_tasks">

</div>  

</div>

<br>

